@import "variables";
@import "syntax";
@import "font";

a {
  color: $green;
  &:focus,&:active,&:hover{
    color: darken($green,15%);
  }
  code {
    text-decoration: none;
  }
}

body {
  font-family: serif;
  margin: 40px auto;
  max-width: 800px;
  line-height: 1.6;
  font-size: 18px;
  color: #222;
  padding: 0 10px
}

main {
  margin-bottom: 1rem;

}

h1, h2, h3, h4, h5 {
  line-height: 1.2;
  font-family: sans-serif;
}

code {
  @extend .chroma;
  //padding: 0 .2rem;
}

code::selection, .chroma ::selection {
  background: #f8f8f2;
  color: #272822;
}

code {
  font-family: "Fira Code", monospace, monospace;
}

pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
  white-space: pre-wrap;
  font-family: "Fira Code", monospace, monospace;

  code {
    background: none;
    padding: 0;
  }

  // .language-bash {
  //   &::before {
  //     content: "$ ";
  //     color: #50fa7b;
  //   }
  // }
}

.table-of-contents {
  font-size: .8rem;
}

.alert {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid;

  a {
    color: inherit;
  }

  &.warning {
    color: mix(black, $warning, 80%);
    background: mix(white, $warning, 80%);
    border-color: mix(white, $warning, 70%);
  }

  &.info {
    color: mix(black, $info, 80%);
    background: mix(white, $info, 80%);
    border-color: mix(white, $info, 70%);
  }

  &.danger {
    color: mix(black, $danger, 80%);
    background: mix(white, $danger, 80%);
    border-color: mix(white, $danger, 70%);
  }

  &.success {
    color: mix(black, $success, 80%);
    background: mix(white, $success, 80%);
    border-color: mix(white, $success, 70%);
  }
}

.cards {
  .card {
    padding: 1rem;
    margin-bottom: 1rem;
    border: solid 1px black;

    h2 {
      margin-top: 0;
    }
  }
}


footer {
  display: flex;
  justify-content: space-between;;
}

figure {
  text-align: center;

  img, video {
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
  }
}


a.heading-anchor {
  position: absolute;
  display: none;
  left: -35px;
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  position: relative;

  &:hover a.heading-anchor {
    display: block;
  }
}

.chroma .shell {
  user-select: none;
  color: #11D116;
}

nav.categories{
  display: flex;
  a {
    margin: 0 5px;
    padding: 3px;
    background: $green;
    &:focus,&:active,&:hover{
      background: darken($green,15%);
    }
    color: white;
    text-decoration: none;
    //border-radius: ;
  }

}
