<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ block "title" . }}
            {{ .Site.Title }}
        {{ end }}</title>
    {{ if .Description }}
        <meta name="description" content="{{ .Description }}">
    {{ end }}
    {{ range .AlternativeOutputFormats -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
{{- $sassOptions := (dict "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $style := resources.Get "sass/main.scss" | resources.ToCSS $sassOptions | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
</head>
<body>
<main>
    {{ block "main" . }}
    {{ end }}
</main>
<footer>
    <a href="https://lw1.at/i/">Privacy Policy</a>
    <a href="https://lw1.at/">My other projects</a>
</footer>
{{- $esBuildOptions := (dict "minify" true "sourceMap" "external") }}
{{- $built := resources.Get "js/main.js" | js.Build $esBuildOptions | resources.Fingerprint }}
<script src="{{ $built.RelPermalink }}" defer async integrity="{{ $built.Data.Integrity }}"></script>
</body>
</html>

